@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*----------- header ----------- */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.logo {
  width: 130px;
  height: 100px;
  object-fit: cover;
}

.header_info_text {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header_info_text img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.header_info_text div {
  display: flex;
  align-items: center;
}

.line_header {
  width: 1px;
  height: 40px;
  background-color: grey;
}

.header_number {
  display: flex;
  flex-direction: column;
}
.header_number p {
  font-size: 15px;
  line-height: 26px;
}
.header_number h3 {
  font-size: 17px;
  font-weight: 500;
  text-decoration: underline;
  color: #58a9ff;
}

/* ----------nav------------- */

nav {
  padding: 20px;
  background-color: #1e2048ee;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
nav ul a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav ul li a:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

/* --------------main-------------- */

.first_main_block {
  position: relative;
  background: url("https://plus.unsplash.com/premium_photo-1661281397737-9b5d75b52beb?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    top center / cover no-repeat fixed;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}
.first_main_block::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.424);
  position: absolute;
}

.first_main_block_title {
  padding: 0px 130px;
  position: relative;
  color: white;
}
.first_main_block_title h1 {
  font-size: 48px;
  line-height: 49px;
}
.first_main_block_title p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 15px 0;
}
.first_main_block_title button {
  width: 230px;
  height: 43px;
  font-size: 16px;
  border-radius: 25px;
  background: hsla(221, 100%, 70%, 0.49);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.first_main_block_title button:hover {
  background: hsla(221, 100%, 70%, 0.301);
}

/* ----------div------------ */

.about_block {
  padding: 50px 130px;
}

.second_main_block {
  width: 100%;
}

.top_main_block {
  padding: 25px 50px;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0488);
}

.top_main_block h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.top_main_block p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 0;
}

.bottom_main_block {
  display: flex;
}

.bottom_main_block div {
  width: 100%;
  text-align: center;
  padding: 25px 50px;
}

.bottom_main_block div:not(:last-child) {
  border-right: 1px solid rgba(128, 128, 128, 0488);
}

.bottom_main_block p {
  height: 120px;
  margin: 10px 0;
  overflow-x: scroll;
  line-height: 27px;
  font-size: 15px;
  font-weight: 400;
}

.bottom_main_block p::-webkit-scrollbar {
  width: 0;
}

.bottom_main_block img {
  margin: 10px 0;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.bottom_main_block button {
  margin-top: 30px;
  cursor: pointer;
  text-decoration: underline;
  background: none;
}

.bottom_main_block button a {
  color: black;
}

/* ----------------second_block------------ */

.third_block {
  display: flex;
  align-items: center;
  margin: 70px;
}

.third_block img {
  width: 50%;
}

.text_main_content {
  margin-left: 20px;
}

.text_main_content h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.text_main_content p {
  height: 170px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 0;
}

.text_main_content button {
  width: 200px;
  height: 40px;
  background-color: #58a9ff;
  border-radius: 25px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.text_main_content button:hover {
  background-color: #103052;
}


/* --------------fourth_block-------------- */
/* 
.fourth_block {
    display: flex;
    margin: 100px 0;
}

.fourth_block_main p {
    font-weight: 500;
    line-height: 26px;
    font-size: 15px;
}

.fourth_block_img {
    width: 50%;
    object-fit: cover;
}

.fourth_block_main2 img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 20px;
    object-fit: contain;
    display: flex;
    align-items: center;
    margin: 20px 0;
}
/* 
.fourth_block_main2 h3 {
    display: flex;
    align-items: center;
    margin: 20px 0;
} */

/* -----Swiper------ */

.team-block {
    margin: 70px 0;
}

.team-title {
    text-align: center;
}

.team-title h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
    font-weight: bold;
}

.swiper {
  width: 100%;
  height: 450px;

  margin: 25px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-slide img {
  width: 100%;
  height: 300px;
  margin: 10px 0;
  object-fit: cover;
}
.swiper-slide h1 {
  font-size: 20px;
}
.swiper-slide p {
    font-size: 15px;
}

.swiper_line {
  margin: 20px 0;
  width: 30px;
  height: 3px;
  background-color: #58a9ff;
}

.map {
    width: 100%;
  }